<h1>記事編集</h1>
<%= link_to '記事一覧', articles_path %>

<% if flash[:error_messages] %>
  <div>
    <ul>
      <% flash[:error_messages].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @article do |f|%>
  <div>
    <%= f.label :name, 'タイトル' %>
    <%= f.text_field :title %>
  </div>
    <div>
      <%= f.label :body, '本文' %>
      <%= f.text_area :body, rows: 10 %>
  </div>
  <div>
    <%= f.label :image_data, '画像' %>
    <%= f.hidden_field :image, value: @article.cached_image_data %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit '保存' %>
<% end %>