<h1>マイページ</h1>
<div>
    <% if @current_user.image == nil %>
      <div>no image</div>
    <% else %>
      <%= image_tag @current_user.image[:small].url %>
    <% end %>
</div>
<div>
  <%= @current_user.name %>
</div>
<div>
  <%= @current_user.mail %>
</div>
<div>
  <%= @current_user.introduction %>
</div>

<%= link_to '個人情報編集', edit_user_path(@user) %>
<p><%=link_to "フォロー", follows_user_path(@user.id) %></p>
<p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>

<div>
  <% @favorite_articles.each do |article| %>
    <hr>
    <p><span>お気に入り記事内容:</span><%= link_to article.body, article_path(article.id) %></p>
    <p>---------------------------</p>
  <% end %>
</div>
<%= paginate @favorite_articles%>

<div>投稿記事一覧</div>
  <% @articles.each do |article|%>
    <p><%= link_to article.title, article_path(article.id)%></p>
  <% end %>
<%= paginate @articles %>