
<h1>
  <p><%= @user.name%><span>様の詳細ページ</span></p>
</h1>

<div>
    <% if @user.image == nil %>
      <div>no image</div>
    <% else %>
      <%= image_tag @user.image[:small].url %>
    <% end %>
</div>

<p><span>アドレス:</span><%= @user.mail%></p>
<p><span>紹介文:</span><%= @user.introduction %></p>

<p><%=link_to "フォロー", follows_user_path(@user.id) %></p>
<p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>
<% if @current_user != @user %>
    <% if @user.followed_by?(@current_user) %>
        <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
    <% else %>
        <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
    <% end %>
<% end %>

<div>
  <% if @current_user %>
    <% unless @current_user == @user %>
          <% if @has_room %>
        <div>
          <%= button_to "チャットを再開する", room_path(@room_id), method: :get %>
        </div>
      <% else %>
        <div>
          <%= form_with url: rooms_path, method: :post, local: true do |f| %>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= f.submit "チャットを始める"%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>