<h1>Article.App</h1>

<%= link_to '記事一覧', articles_path %>
<% if @current_user %>
  <%= link_to 'マイページ', mypage_path %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
<% else %>
  <%= link_to '登録', new_user_path %>
  <%= link_to 'ログイン', root_path %>
<% end %>