<h1>Article.App</h1>

<%= link_to '記事一覧', articles_path %>
<% if @current_user %>
  <%= link_to 'マイページ', mypage_path %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
<% else %>
  <%= link_to '登録', new_user_path %>
  <%= link_to 'ログイン', root_path %>
<% end %>
<%= link_to 'ユーザー一覧', users_path %>

<% if @current_user %>
  <%= link_to '通知', notifications_path %>
  <% if unchecked_notifications.any? %>
    <i class="fa fa-circle notification-circle"></i>
  <% end %>
<% end %>

<div>
  <div>
    <% if @current_user %>
      <%= form_with url:search_path, method: :get, local: true do |f| %>
        <%= f.text_field 'search[value]'%>
        <%= f.select 'search[model]', options_for_select({"User"=>"user", "Article"=> "article"}) %>
        <%= f.submit :"検索" %>
      <% end %>
    <% end %>
  </div>
</div>

<% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
<% end %>